.gray-text { /* American spelling makes me sad :( */
    color: darkgray;
}

.salmon-text {
    color: salmon;
}

.indigo-text {
    color: indigo;
}

.big-text{
    color: indigo;
    font-size: 2.5rem;
}
